/* Reset */
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #181F2B;
  color: #fff;
}

h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.5;
}

p {
  line-height: 1.5;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  text-transform: none;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 4rem 2.5rem;
  background-color: #1C2431;
}

header nav {
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav a {
  color: #fff;
  font-family: "Raleway", sans-serif;
  opacity: 0.8;
}

/* Intro */

.intro-container {
  background-color: #1C2431;
  background-image: url("./images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  height:155vh;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 680px;
  text-align: center;
}

.intro img {
  margin-bottom: 50px;
  max-width: 100%;
}

.intro p {
  font-size: 1.3rem;
  margin: 30px;
  opacity: 0.8;
}

.get-started {
  width: 290px;
  height: 58px;
  border-radius: 30px;
  font-size: 1rem;
  background-color: #65E2D9;
  background-image: linear-gradient(to right, #65E2D9, #339ECC);
  color: #fff;
}
